<section class="banner-gradient pt-14 pb-14 mb-0">
    <div class="container mx-auto">
        <div class="mx-4 lg:mx-0 flex flex-col lg:flex-row gap-8 justify-center">
            <div class="space-y-6 w-full lg:w-[40%]">
                <h3 class="text-2xl sm:text-4xl font-bold">Showcasing My Projects</h3>
                <p class="text-xl text-blue-800 dark:text-blue-100">
                    Dive into the diverse projects I have developed, from innovative web apps to blockchain-based solutions.
                    Explore my progress and stay updated on upcoming developments!
                    
                </p>
            </div>
            <img class="self-center w-[60%] sm:w-[50%] lg:w-[30%]" src="../../assets/svg/projectGallery.svg" alt="Explore My Projects"/>
        </div>
    </div>
</section>