<footer>
    <div class="dark:bg-[#27374D] bg-[#DDE6ED] py-4 px-4">
        <div class="flex flex-col-reverse md:flex-row justify-around items-center">
            <p class="font-medium mt-4 md:mt-0">&copy; 2024 Anastasiadis Sotiris</p>
            <div class="">
                <ul class="mt-4 md:mt-0 flex space-x-6 font-medium text-lg text-blue-dark dark:text-blue-bright">
                    <li><a class="textNav" routerLink="/contact">Contact me!</a></li>
                </ul>
            </div>
            <app-media></app-media>
        </div>
    </div>
</footer>