<footer>
    <div class="dark:bg-blue-800 bg-blue-400 py-4 px-4">
        <div class="flex flex-col-reverse md:flex-row justify-around items-center">
            <p class="font-semibold text-blue-800 dark:text-blue-100 mt-4 md:mt-0">&copy; 2024 Anastasiadis Sotiris</p>
            <!-- <div>
                <ul class="mt-4 md:mt-0 flex space-x-6 font-medium text-lg text-blue-900 dark:text-blue-500">
                    <li><a class="textNav font-semibold" routerLink="/contact">Contact me!</a></li>
                </ul>
            </div> -->
            <app-media></app-media>
        </div>
    </div>
</footer>