<section class="container mx-auto dark:bg-blue-black bg-blue-light gap-8">
    <div class="grid grid-cols-2">
        <div>
            <h2>This is a title</h2>
            <h3>This is a subtitle for the title </h3>
        </div>
        <div class="col-span-2 grid gap-8">
            <ng-container *ngFor="let product of products">
                <a>
                    
                </a>
            </ng-container>
        </div>
        <a class="order-2">this is a link</a>
    </div>
</section>