<section class="banner-gradient-bottom pt-16 pb-10">
  <div class="container mx-auto flex flex-col gap-8">

    <div class="space-y-4 text-center">
      <h2 class="text-4xl font-bold text-blue-900">Explore My Work</h2>
      <h3 class="text-2xl font-bold text-blue-700">Discover the Projects That Define My Skills</h3>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 self-center justify-items-center gap-8">

      <a [routerLink]="['/projects', getId(project.id)]" *ngFor="let project of projects" class="relative min-h-[300px] max-w-[300px] w-full overflow-hidden rounded-3xl">
        <img class="w-full h-full object-cover" [src]=" project.cardImage " [alt]="project.alt"/>
        <div class="absolute inset-0 bg-blue-800 opacity-[0.15]"></div>
        <div class="projectCard absolute inset-0 p-4 backdrop-blur-[2px] rounded-3xl z-10">
          <div class="projectOut flex flex-col h-full w-full justify-between">
            <h3 *ngIf="!project.onlyLogo" class="flex flex-row gap-1 text-xl text-white font-semibold items-center">
              <img *ngIf="project?.logoUrl?.url && !project.logoRight" class="h-8 w-8 object-cover" [src]="project?.logoUrl?.url" [alt]="project.alt" />
              {{project?.logoUrl?.text}}
              <img *ngIf="project?.logoUrl?.url && project.logoRight" class="h-8 w-8 object-cover" [src]="project?.logoUrl?.url" [alt]="project.alt" />
            </h3>
            <img *ngIf="project.onlyLogo" class="h-1/4 w-fit object-cover" [src]=" project?.logoUrl?.url" [alt]="project.alt"/>
            <div class="mx-auto gap-2 flex flex-row justify-center items-center w-fit">
              <ng-container *ngFor="let svg of project.svgIds; let index= index">
                <ng-container *ngIf="index <= 2">
                  <app-svg-list [svg]="svg.id"></app-svg-list>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="projectIn absolute inset-0 p-4 backdrop-blur-[2px] rounded-3xl z-10 text-lg font-medium">
            <h3 *ngIf="!project.onlyLogo" class="flex flex-row gap-1 text-xl text-white font-semibold items-center">
              <img *ngIf="project?.logoUrl?.url && !project.logoRight" class="h-8 w-8 object-cover" [src]="project?.logoUrl?.url" [alt]="project.alt" />
              {{project?.logoUrl?.text}}
              <img *ngIf="project?.logoUrl?.url && project.logoRight" class="h-8 w-8 object-cover" [src]="project?.logoUrl?.url" [alt]="project.alt" />
            </h3>
            <img *ngIf="project.onlyLogo" class="h-1/4 w-fit object-cover" [src]=" project?.logoUrl?.url" [alt]="project.alt"/>
            <p class="text-blue-200">{{project.description}}</p>
          </div>
        </div>
      </a>

    </div>
    
  </div>
</section>
