::ng-deep .cardSvg .techSvg {
    padding: 6px;
    border-radius: 8px;
    box-shadow: none;
    background: transparent;
    border: none;

    svg {
        width: 22px !important;
        height: 22px;
    }
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
