<!-- <div class="w-full h-[300px] sm:h-[500px] md:h-[600px] relative overflow-hidden">
    <img class="object-cover h-full w-full filter blur-[3px]" src="../../assets/images/development.jpg"
        alt="Explore My Projects" />
    <div class="absolute inset-0 bg-blue-300 dark:bg-blue-800 opacity-10"></div>

</div> -->

<section class='relative mb-0'>
    <img class="object-cover h-full w-full filter max-h-[500px]" src="../../assets/images/development.jpg"/>
    <div class="absolute backdrop-blur-[5px] h-full inset-0"></div>
    <div
        class='container px-4 text-center flex flex-col items-center justify-center gap-4 absolute inset-0 mx-auto'>
        <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-blue-200">
            Built, Shipped, Delivered
        </h1>
        <p class="text-lg sm:text-xl lg:text-2xl font-semibold text-blue-400 lg:w-[60%]">
            Explore the projects that reflect my journey as a developer — from idea to execution.
        </p>

    </div>
</section>