<section class="container mx-auto sm:pt-10 pb-10 sm:mt-20">
    <div class="sm:mx-4 mx-0 flex flex-col sm:flex-row items-center justify-center">
        <div class="px-2 mx-4 pt-2 mt-4 sm:max-w-[50%] order-last sm:order-first">
            <h1 class="lg:text-4xl sm:text-3xl text-2xl font-bold ">Font-End Angular Developer</h1>
            <div>
                <h3 class="py-4 md:w-3/4 text-xl font-medium text-[#526D82] dark:text-[#929AAB]">
                    👋 Greetings! I'm Sotiris Anastasiadis,
                     a dedicated front-end Angular developer located in Athens, Greece.
                </h3>
                <h3 class="py-4 md:w-3/4 text-xl font-medium text-[#526D82] dark:text-[#929AAB]">
                    Passionate about crafting seamless user experiences.
                </h3>
                <div class="flex flex-col">
                    <a routerLink="/contact" class="heroBtn sm:w-3/6 mb-6"><div class="text">Contact me!</div></a>
                    <div class="self-center sm:self-start"><app-media></app-media></div>
                </div>
            </div>
        </div>
        <div class="mx-4 sm:mx-0">
            <img src="../../assets/images/SotirsAnastasiadis.png" alt="Sotiris Anastasiadis" class="overflow-hidden rounded-[60%] md:max-w-[300px] max-h-[450px] sm:max-h-full">
        </div>
    </div>
</section>