<section class="container mx-auto">
    <div class="flex lg:flex-row flex-col justify-around">
        <div class="mx-4 sm:mx-0 flex flex-col lg:w-1/3 items-center">
            <div>
                <img src="../../assets/images/htmlImage.jpg" alt="Sotiris Anastasiadis" class="rounded-2xl overflow-hidden max-h-[400px] sm:max-h-[300px] md:max-h-[400px] h-auto ">
            </div>
            <div class="-mt-32 ml-auto mr-auto">
                <img src="../../assets/images/SotirisAnastasiadisMemoji.png" alt="Sotiris Anastasiadis" class="rounded-[100%] overflow-hidden max-h-[200px] sm:max-h-[250px] md:max-h-[300px] w-auto">
            </div>
            <!-- <div class="hidden lg:block mt-auto">
                <a class="heroBtn" href="path/to/your/file.pdf" download="your_filename.pdf"><div class="text">DOWNLOAD CV</div></a>
            </div> -->
        </div>
        <div class="lg:w-2/3 mx-8 space-y-6">
            <div>
                <h3 class="text-2xl lg:text-3xl font-bold">ABOUT ME</h3>
            </div>
            <div class="space-y-2">
                <p class="text-lg font-semibold">
                    As a {{ this.year - 2000}} year old Applied Informatics student and web developer, I focus on crafting smooth and engaging web experiences. Working at a multinational company has strengthened my ability to build intuitive user interfaces.
                </p>
                <p class="text-lg font-semibold">
                    I primarily work with Angular for single-page applications and explore React and Next.js to stay current. Tailwind CSS is my tool of choice for designing responsive interfaces.
                </p>
                <p class="text-lg font-semibold">
                    My portfolio highlights my technical skills and passion for coding, and I’m eager to apply my knowledge to new and innovative projects in front-end and back-end development.
                </p>
            </div>
            <div class="flex sm:flex-row flex-col justify-between w-full gap-6">
                <div class="flex flex-col space-y-4 sm:mb-0 mb-4">
                    <div class="flex flex-col space-y-2">
                        <h4 class="font-bold text-xl">NAME</h4>
                        <p class="font-semibold">Sotiris Anastasiadis</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h4 class="font-bold text-xl">EMAIL</h4>
                        <p class="font-semibold">{{'sotiris.anastjm@gmail.com'}}</p>
                    </div>
                </div>
                <div class="flex flex-col space-y-4">
                    <div class="flex flex-col space-y-2">
                        <h4 class="font-bold text-xl">EDUCATION</h4>
                        <p class="font-semibold">Applied Informatics (Undergraduate)</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h4 class="font-bold text-xl">EMPLOYMENT</h4>
                        <p class="font-semibold"><b>Ernst&Young</b> Software Engineer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>