<section class="container mx-auto">
    <div class="flex lg:flex-row flex-col justify-around">
        <div class="mx-4 sm:mx-0 flex flex-col lg:w-1/3 items-center">
            <div>
                <img src="../../assets/images/htmlImage.jpg" alt="Sotiris Anastasiadis" class="rounded-2xl overflow-hidden max-h-[400px] sm:max-h-[300px] md:max-h-[400px] h-auto ">
            </div>
            <div class="-mt-32 ml-auto mr-auto">
                <img src="../../assets/images/SotirisAnastasiadisMemoji.png" alt="Sotiris Anastasiadis" class="rounded-[100%] overflow-hidden max-h-[200px] sm:max-h-[250px] md:max-h-[300px] w-auto">
            </div>
            <div class="hidden lg:block mt-auto">
                <a class="heroBtn" href="path/to/your/file.pdf" download="your_filename.pdf"><div class="text">DOWNLOAD CV</div></a>
            </div>
        </div>
        <div class="lg:w-1/2 mx-8 space-y-6">
            <div>
                <h3 class="text-2xl font-bold">ABOUT ME</h3>
            </div>
            <div class="space-y-2">
                <p class="text-lg font-medium">
                    As a 24-year-old student in Applied Informatics and a dedicated web developer, I'm on a mission to craft immersive web experiences. Working at a leading multinational company has honed my skills in delivering seamless user interfaces and pushing the boundaries of creativity.
                </p>
                <p class="text-lg font-medium">
                    Angular is my playground, where I bring ideas to life through dynamic single-page applications. However, the journey doesn't stop there—I'm also immersing myself in the React ecosystem, navigating the realms of Next.js to stay at the forefront of web development trends. To ensure both efficiency and a seamless design process, I leverage the power of Tailwind CSS for crafting visually appealing and responsive user interfaces.
                </p>
                <p class="text-lg font-medium">
                    My portfolio stands as a testament to my unwavering commitment to the ever-evolving field of web development. Each project not only demonstrates my technical prowess but also reflects a deep passion for coding and problem-solving. While specializing in content management systems, particularly with a focus on Sitecore, I have gone beyond Angular and React to showcase a diverse range of projects. Eager for the journey ahead, I am excited to contribute my evolving expertise to innovative projects in the dynamic realm of front-end development.
                </p>
            </div>
            <div class="flex sm:flex-row flex-col justify-between w-4/5">
                <div class="flex flex-col space-y-4 sm:mb-0 mb-4">
                    <div class="flex flex-col space-y-2">
                        <h4 class="font-bold text-xl">NAME</h4>
                        <p>Sotiris Anastasiadis</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h4 class="font-bold text-xl">EMAIL</h4>
                        <p>sotiris.anastjm@gmail.com</p>
                    </div>
                </div>
                <div class="flex flex-col space-y-4">
                    <div class="flex flex-col space-y-2">
                        <h4 class="font-bold text-xl">EDUCATION</h4>
                        <p>Applied Informatics (Undergraduate)</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h4 class="font-bold text-xl">EMPLOYMENT</h4>
                        <p><b>Ernst&Young</b> Junior Software Engineer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>