<section class="container mx-auto px-4 lg:px-0 flex flex-col justify-center items-center w-fit text-center">
    <h3 class="text-2xl md:text-4xl font-bold mb-2">Let's Connect</h3>
    <p class="text-xl md:text-2xl font-semibold mb-6">Have questions, feedback, or just want to chat?<br> Feel free to reach out to me.</p>
    <!-- <a routerLink="/contact" class="heroBtn dark:hover:bg-[transparent] w-full sm:w-3/6 mb-6"><div class="text">Contact Me</div></a> -->
    <app-media></app-media>
</section>