<nav>
    <div class="dark:bg-[#27374D] bg-[#DDE6ED]">
        <div class="flex flex-row items-center p-4 justify-between container mx-auto">
            <div>
                <!-- Logo -->
                <a (click)="toggleMenu(true)" routerLink="/">
                    <div><!-- class="border-2 rounded-3xl dark:border-blue-500 border-blue-700 w-fit p-1" -->
                        <div class="flex flex-row font-black text-xl">
                            <div class="dark:text-blue-500 text-blue-700 self-center">ANAST</div>
                            <div class="border rounded-3xl ml-1 px-1 dark:border-blue-500 border-blue-700 dark:bg-blue-500 bg-blue-700 text-white">.dev</div>
                        </div>
                    </div>
                </a>
            </div>

<!-- Nav -->
            <div class="md:block hidden">
                <ul class="md:flex md:space-x-8 uppercase font-black text-xl text-blue-700 dark:text-blue-500">
                  <li><a class="textNav textShadow" routerLink="/">Home</a></li>
                  <li><a class="textNav textShadow" routerLink="/projects">Projects</a></li>
                  <li><a class="textNav textShadow" routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="md:block hidden">
                <label class="darkSwitch">
                    <input (change)="toggleDarkMode()" type="checkbox" [checked]="isDarkMode" >
                    <span class="switchSlider"></span>
                </label>
            </div>
            <!-- <div>
                <button (click)="toggleDarkMode()" class="md:block hidden rounded-3xl border-2 dark:border-blue-500 border-blue-700"><div class="uppercase duration-100 font-black text-xs text-blue-700 rounded-3xl dark:text-white dark:bg-blue-500 pb-[2px] px-[4px] m-1">{{ isDarkMode ? '>_Light' : '>_Dark' }}</div></button>
            </div> -->
            <a (click)="toggleMenu()" class="md:hidden block">
                <span [ngClass]="{'rotate-45 origin-bottom-left ease-linear duration-200 ': menuState === 'open','origin-top-left ease-linear duration-100': menuState === 'closed'}" class="block w-8 h-1 bg-blue-700 dark:bg-blue-500"></span>
                <span [ngClass]="{'opacity-0 duration-100': menuState === 'open','opacity-1 duration-100': menuState === 'closed'}" class="mt-2 block w-8 h-1 bg-blue-700 dark:bg-blue-500"></span>
                <span [ngClass]="{'-rotate-45 origin-top-left ease-linear duration-200': menuState === 'open', ' origin-bottom-left ease-linear duration-100': menuState === 'closed'}" class="mt-2 block w-8 h-1 bg-blue-700 dark:bg-blue-500"></span>
            </a>
        </div>
    </div>
    
<!-- Mobile Menu Slide -->

    <!-- <div [ngClass]="{'translate-x-0': menuState === 'open', 'translate-x-[200%]': menuState === 'closed'}" class=" transform transition-transform ease-in-out duration-300 fixed bottom-0 left-0 h-[90%] w-[50%] bg-[#DDE6ED] bg-opacity-30 z-50 "></div> -->
    <div [ngClass]="{'translate-x-0': menuState === 'open', 'translate-x-full': menuState === 'closed'}" class="md:hidden fixed  right-0 menuHeight w-[100%] dark:bg-[#1a2536] bg-[#CED8E5] transform transition-transform ease-in-out duration-300 z-50">
        <div class="flex flex-col justify-evenly text-center items-center h-full">
            <div class="md:h-[60%]">
                <ul class="space-y-4 md:space-y-10 uppercase font-black text-3xl text-blue-700 dark:text-blue-500">
                  <li><a (click)="toggleMenu()" class="textNav textShadow" routerLink="/">Home</a></li>
                  <li><a (click)="toggleMenu()" class="textNav textShadow" routerLink="/projects">Projects</a></li>
                  <li><a (click)="toggleMenu()" class="textNav textShadow" routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div>
                <app-media></app-media>
            </div>
            <label class="darkSwitch">
                <input (change)="toggleDarkMode()" type="checkbox" [checked]="isDarkMode" >
                <span class="switchSlider"></span>
            </label>
            <!-- <div>
                <button (click)="toggleDarkMode()" class=" rounded-3xl border-2 dark:border-blue-500 border-blue-700"><div class="uppercase rounded-3xl font-black text-xs text-blue-700 dark:text-white dark:bg-blue-500 pb-[2px] px-[4px] m-1">{{ isDarkMode ? '>_Light' : '>_Dark' }}</div></button>
            </div> -->
        </div>
    </div>

</nav>
  
  